body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.content {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: left;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-top: 2rem;
}

.intro {
  font-style: italic;
  color: #555;
}

.verse {
  margin: 1rem 0;
}

.collapsible {
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.1rem;
  transition: background-color 0.2s;
}

.collapsible:hover {
  background-color: #1f2b3b;
}

.content-collapsible {
  padding: 0 1rem;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-left: 4px solid #2c3e50;
  margin-top: 0.5rem;
}

.content-collapsible p {
  margin: 1rem 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 769px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3rem;
  }
}

.header-container h2 {
  margin: 0;
  font-size: 1.5em;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-container input[type="text"] {
  padding: 4px;
  font-size: 0.9em;
  width: 150px;
}
.search-container img {
  width: 16px;
  height: 16px;
}

.logo-image {
  display: block;
  margin: 0 auto; /* Zentriert das Bild */
  width: 200px; /* Anpassbare Bildbreite */
  height: auto;
  margin-bottom: 1rem; /* Abstand zum h1-Titel */
}
/* Für die mobile Ansicht */
@media (max-width: 768px) {
  .search-container img {
    width: 9px !important;
    height: 9px !important;
  }

  h1 {
    font-size: 1.3rem; /* Verkleinerte Größe für mobile Ansicht */
  }
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    margin-top: 0.5rem !important;
    order: -1;
    margin-bottom: ; /* Kein Abstand unter der Suchleiste */
    align-self: flex-end;
  }

  h2 {
    font-size: 1.22rem !important;
    text-align: left;
    width: 100%;
    margin-top: 0; /* Kein Abstand über h2 */
    white-space: nowrap;
  }

  /* Reduziert Schriftgröße und Innenabstände nur in mobiler Ansicht */
  .search-container input[type="text"] {
    padding: 2px; /* Weniger Innenabstand */
    font-size: 0.65em; /* Kleinere Schriftgröße */
    width: 5rem; /* Erlaubt dynamische Breite */
    max-width: 120px; /* Begrenzte Breite in mobiler Ansicht */
  }
  .logo-image {
    display: block;
    margin: 0 auto; /* Zentriert das Bild */
    width: 100px; /* Anpassbare Bildbreite */
    height: auto;
    margin-bottom: 1rem; /* Abstand zum h1-Titel */
  }
}
